<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Change Password</title>
</head>
<body>
<header>
    <div th:replace="~{navigation :: navigation-bar}">
        <ul class="navigation-bar">
            <li>
                <a th:href="@{/index}" href="../home/index.html">Home</a>
            </li>
        </ul>
    </div>
</header>
<main>
    <h1>Change Password</h1>
    <p class="message">Enter your new password twice</p>
    <form th:object="${pcform}"
          action="password-changed.html" th:action="@{update-password}"
          method="post">
        <p>
            <label for="currentPassword" class="group-label">Current Password</label>
            <input id="currentPassword" th:field="*{currentPassword}" type="password">
            <span th:if="${#fields.hasErrors('currentPassword')}"
                  class="error">&larr;&nbsp;<span th:errors="*{currentPassword}">Current Password Error</span></span>
        </p>
        <p>
            <label for="newPassword1" class="group-label">New Password</label>
            <input id="newPassword1" th:field="*{newPassword1}" type="password">
            <span th:if="${#fields.hasErrors('newPassword1')}"
                  class="error">&larr;&nbsp;<span th:errors="*{newPassword1}">New Password 1 Error</span></span>
        </p>
        <p>
            <label for="newPassword2" class="group-label">New Password</label>
            <input id="newPassword2" th:field="*{newPassword2}" type="password">
            <span th:if="${#fields.hasErrors('newPassword2')}"
                  class="error">&larr;&nbsp;<span th:errors="*{newPassword2}">New Password 2 Error</span></span>
        </p>
        <p>
            <input type="submit" value="Change Password">
        </p>
    </form>
</main>
<footer th:replace="~{home/index::footer}">
    Some footer text
</footer>
</body>
</html>
