<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Password Changed</title>
</head>
<body>
<header>
    <div th:replace="~{navigation :: navigation-bar}">
        <ul class="navigation-bar">
            <li>
                <a th:href="@{/index}" href="../home/index.html">Home</a>
            </li>
        </ul>
    </div>
</header>
<main>
    <h1>Password Changed</h1>
    <p class="message">Your password has been changed</p>
</main>
<footer th:replace="~{home/index::footer}">
    Some footer text
</footer>
</body>
</html>
