<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>List Users</title>
</head>
<body>
<header th:replace="~{home/index::header}">
    <h1>Some header text</h1>
</header>
<main class="container">
    <h2 class="mt-4 mb-3">User List</h2>
    <p th:if="${#lists.isEmpty(users)}" class="message">No user accounts yet.</p>
    <table th:unless="${#lists.isEmpty(users)}" class="ms-4 table table-striped table-bordered w-auto">
        <thead>
            <tr class="table-primary">
                <th class="text-center align-middle">Count</th>
                <th class="text-center align-middle">Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Authorization Roles</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="u,c:${users}">
                <td class="text-center" th:text="${c.count}">1</td>
                <td class="text-center" th:text="${u.username}">bart</td>
                <td th:text="${u.firstName}">Bart</td>
                <td th:text="${u.lastName}">Simpson</td>
                <td th:text="${u.getPrettyRoleNames()}">ROLE_USER</td>
                <td><a th:href="@{delete-user(login=${u})}"><i class="me-2 bi bi-trash"></i>Delete</a></td>
            </tr>
        </tbody>
    </table>

    <h3 class="mt-4 mb-2 ms-4">Role: Admin</h3>
    <table class="ms-4 table table-striped table-bordered w-auto">
        <thead>
            <tr class="table-primary">
                <th>Count</th>
                <th>Username</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="a,c:${admins}">
                <td th:text="${c.count}">1</td>
                <td th:text="${a}">marge</td>
                <td>
                    <a th:unless="${#strings.equals(a, you)}"
                       th:href="@{delete-user(login=${a})}"><i class="me-2 bi bi-trash"></i>Delete</a>
                    <span th:if="${#strings.equals(a, you)}" class="message">You</span>
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <a th:href="@{add-user}" class="btn btn-outline-primary mt-4"><i class="bi bi-person-plus me-2"></i>Add User</a>
    </p>
</main>
<footer th:replace="~{home/index::footer}">
    Some footer text
</footer>
</body>
</html>
