<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>User Added</title>
</head>
<body>
<header th:replace="~{home/index::header}">
    <h1>Some header text</h1>
</header>
<main class="container">
    <h2 class="mt-4 mb-3">User Added</h2>
    <p class="message">
        The new <span th:text="${role}">user</span> account
        <span th:text="${login}" class="user">simpson</span> has been added.
    </p>
    <p>
        <a th:href="@{list-users}">List Users</a>
    </p>
</main>
<footer th:replace="~{home/index::footer}">
    Some footer text
</footer>
</body>
</html>
