<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Users</title>
</head>
<body>
<header th:replace="~{home/index::header}">
    <h1>Some header text</h1>
</header>
<main class="container">
    <h2 class="mt-4 mb-3">Users</h2>
    <ul>
        <li>
            <a th:href="@{add-user}" href="add-user.html">Add User</a>
        </li>
        <li>
            <a th:href="@{list-users}" href="list-users.html">List Users</a>
        </li>
    </ul>
</main>
<footer th:replace="~{home/index::footer}">
    Some footer text
</footer>
</body>
</html>
