<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>User Added</title>
</head>
<body>
<header th:replace="~{home/index::header}">
    <h1>Some header text</h1>
</header>
<main class="container">
    <h2 class="mt-4 mb-3">User Added</h2>
    <div class="card ms-4 user-card">
        <div th:object="${user}" class="card-body">
            <h3 class="card-title" th:text="|*{firstName} *{lastName}|">Bart Simpson</h3>
            <p>
                <span th:unless="*{#lists.isEmpty(prettyRoleNames)}" th:text="*{prettyRoleNames}" style="color:orchid">[Data Admin, User Admin]</span>
                <span th:if="*{#lists.isEmpty(prettyRoleNames)}" style="color:orchid">No Authorization Roles</span>
            </p>
            <p>
                <label class="output-label">Username:</label>
                <span class="output" th:text="*{username}">bart</span>
            </p>
        </div>
    </div>
    <ul class="mt-4 list-group list-group-horizontal">
        <li class="list-group-item">
            <a th:href="@{/users/add-user}"><i class="bi bi-person-plus me-2"></i>Add User</a>
        </li>
        <li class="list-group-item">
            <a th:href="@{/users/list-users}"><i class="bi bi-list-ul me-2"></i>List Users</a>
        </li>
    </ul>
</main>
<footer th:replace="~{home/index::footer}">
    Some footer text
</footer>
</body>
</html>
