<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Data Not Found</title>
</head>
<body>
<header>
    <div th:replace="~{navigation :: navigation-bar}">
        <ul class="navigation-bar">
            <li>
                <a th:href="@{/index}" href="home/index.html">Home</a>
            </li>
        </ul>
    </div>
</header>
<main>
    <h1>Data Not Found</h1>
    <p class="message">
        Oops, your data is not found.
    </p>
    <p><a href="home/index.html" th:href="@{/index}">Index</a></p>
</main>
<footer th:replace="~{home/index::footer}">
    Some footer text
</footer>
</body>
</html>
