<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Add Student Record</title>
</head>
<body>
<header th:replace="~{home/index::header}">
    <h1>Some header text</h1>
</header>
<main class="container">
    <h2 class="mt-4 mb-3">Add Student Record</h2>
    <form method="post" th:with="errors=${#fields.hasErrors('*')}"
          th:action="@{/students/insert-student}"
          th:object="${student}">

        <div th:if="${errors}" class="alert alert-danger ms-2" role="alert" style="width: 18rem;">
            <h3 class="error card-title mb-2" >Input Errors</h3>
            <ul>
                <li th:each="e: ${#fields.errors('*')}" th:text="${e}"
                    class="error">Input Error</li>
            </ul>
        </div>

        <h3 class="mt-4">Student Name</h3>
        <div class="mt-3 ms-4" style="max-width: 16rem;"
             th:with="fieldErrors=${#fields.hasErrors('firstName')}">
            <label for="first" class="group-label form-label">First Name</label>
            <input id="first" type="text" th:field="*{firstName}"
                   class="form-control"
                   th:classappend="${errors} ? ${fieldErrors?'is-invalid':'is-valid'}"/>
            <div th:if="${fieldErrors}" class="invalid-feedback" th:errors="*{firstName}">First Name Error</div>
        </div>
        <div class="mt-3 ms-4" style="max-width: 16rem;"
             th:with="fieldErrors=${#fields.hasErrors('lastName')}">
            <label for="last" class="group-label form-label">Last Name</label><br>
            <input id="last" type="text" th:field="*{lastName}"
                   class="form-control"
                   th:classappend="${errors} ? ${fieldErrors?'is-invalid':'is-valid'}"/>
            <div th:if="${fieldErrors}" class="invalid-feedback" th:errors="*{lastName}">Last Name Error</div>
        </div>
        <h3 class="mt-4">Student Info</h3>
        <div class="mt-3 ms-4" style="max-width: 16rem;"
             th:with="fieldErrors=${#fields.hasErrors('program.id')}">
            <label for="prog" class="group-label form-label">Program</label><br>
            <select id="prog" th:field="*{program.id}"
                    class="form-control"
                    th:classappend="${errors} ? ${fieldErrors?'is-invalid':'is-valid'}">
                <option value="0">--- Select Program ---</option>
                <option th:each="p: ${programs}" th:value="${p.id}" th:text="${p.programName}">Program Name</option>
            </select>
            <div th:if="${fieldErrors}" class="invalid-feedback" th:errors="*{program.id}">Program Name Error</div>
        </div>
        <div class="mt-3 ms-4" style="max-width: 16rem;">
            <div class="form-check">
                <label for="international" class="form-check-label">International</label>
                <input id="international" type="checkbox" th:field="*{international}" th:value="yes"
                       class="form-check-input"
                       th:classappend="${errors} ? 'is-valid'"/>
            </div>
        </div>
        <div class="mt-3 ms-4" style="max-width: 16rem;">
            <div class="form-check">
                <label for="coop" class="form-check-label">Co-op</label>
                <input id="coop" type="checkbox" th:field="*{programCoop}" th:value="yes"
                       class="form-check-input"
                       th:classappend="${errors} ? 'is-valid'"/>
            </div>
        </div>
        <div class="mt-3 ms-4" style="max-width: 16rem;"
             th:with="fieldErrors=${#fields.hasErrors('programYear')}">
            <div class="group-label">Year</div>
            <div class="d-flex">
                <div class="form-check">
                    <input id="year-1" type="radio" th:field="*{programYear}" th:value="1"
                           class="form-check-input"
                           th:classappend="${errors} ? ${fieldErrors?'is-invalid':'is-valid'}"/>
                    <label for="year-1" class="form-check-label">1</label>
                </div>
                <div class="form-check ms-3">
                    <input id="year-2" type="radio" th:field="*{programYear}" th:value="2"
                           class="form-check-input"
                           th:classappend="${errors} ? ${fieldErrors?'is-invalid':'is-valid'}"/>
                    <label for="year-2" class="form-check-label">2</label>
                </div>
                <div class="form-check ms-3">
                    <input id="year-3" type="radio" th:field="*{programYear}" th:value="3"
                           class="form-check-input"
                           th:classappend="${errors} ? ${fieldErrors?'is-invalid':'is-valid'}"/>
                    <label for="year-3" class="form-check-label">3</label>
                </div>
            </div>
            <div th:if="${fieldErrors}" th:class="|invalid-feedback ${fieldErrors?'d-block':''}|"
                 th:errors="*{programYear}">
                Program Year Error
            </div>
        </div>
        <div class="mt-4 btn-group">
            <button type="submit" class="btn btn-primary"><i class="bi bi-floppy me-2"></i>Save</button>
            <a th:href="@{/students/list-students}" class="btn btn-outline-secondary"><i class="bi bi-x-lg me-2"></i>Cancel</a>
        </div>
    </form>
    <p class="mt-4">
        <a th:href="@{/students/list-students}">List Students</a>
    </p>
</main>
<footer th:replace="~{home/index::footer}">
    Some footer text
</footer>
</body>
</html>
