<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Delete Record</title>
</head>
<body>
<header>
    <div th:replace="~{navigation :: navigation-bar}">
        <ul class="navigation-bar">
            <li>
                <a th:href="@{/index}" href="../home/index.html">Home</a>
            </li>
        </ul>
    </div>
</header>
<main>
    <h1>Delete Record</h1>
    <p class="message">Do you really want to remove this record?</p>
    <h2>Record Data:</h2>
    <div th:object="${student}">
        <p>
            <label class="group-label">First Name:</label>
            <span class="output" th:text="*{firstName}">Bart</span>
        </p>
        <p>
            <label class="group-label">Last Name:</label>
            <span class="output" th:text="*{lastName}">Simpson</span>
        </p>
        <p>
            <label class="group-label">Program:</label>
            <span class="output" th:text="*{program.programName}">Computer Programmer</span>
        </p>
        <p>
            <label class="group-label">International:</label>
            <span class="output" th:text="*{international}?'yes':'no'">no</span>
        </p>
        <p>
            <label class="group-label">Year:</label>
            <span class="output" th:text="*{programYear}">1</span>
        </p>
        <p>
            <label class="group-label">Co-op:</label>
            <span class="output" th:text="*{programCoop}?'yes':'no'">yes</span>
        </p>
    </div>
    <form method="post"
          th:action="@{/students/remove-student}" action="list-students.html">
        <input type="hidden" name="id" th:value="${student.id}">
        <input type="submit" value="Remove Record">
    </form>
    <ul>
        <li><a href="students-index.html" th:href="@{/students/index}">Students</a></li>
        <li><a href="add-student.html" th:href="@{/students/add-student}">Add Student</a></li>
        <li><a href="list-students.html" th:href="@{/students/list-students}">List Students</a></li>
    </ul>
</main>
<footer th:replace="~{home/index::footer}">
    Some footer text
</footer>
</body>
</html>
