<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>List Students</title>
</head>
<body>
<header>
    <div th:replace="~{navigation :: navigation-bar}">
        <ul class="navigation-bar">
            <li>
                <a th:href="@{/index}" href="../home/index.html">Home</a>
            </li>
        </ul>
    </div>
</header>
<main>
    <h1>List All</h1>
    <table th:unless="${#lists.isEmpty(students)}">
        <tr>
            <th>Count</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Program</th>
            <th>Options</th>
        </tr>
        <tr th:each="s,c: ${students}">
            <td th:text="${c.count}">1</td>

            <td th:text="${s.firstName}">Bart</td>
            <td th:text="${s.lastName}">Simpson</td>
            <td th:text="${s.program.programName}">Program Name</td>
            <td>
                <a href="student-details.html" th:href="@{/students/student-details/{id}(id=${s.id})}">Details</a>
                <span sec:authorize="hasRole('ADMIN')">
                &nbsp;|&nbsp;
                <a href="edit-student.html" th:href="@{/students/edit-student(id=${s.id})}">Edit</a>
                &nbsp;|&nbsp;
                <a href="delete-student.html" th:href="@{/students/delete-student(id=${s.id})}">Delete</a>
                </span>
            </td>
        </tr>
    </table>
    <p class="message" th:if="${#lists.isEmpty(students)}">No student data</p>
    <ul>
        <li>
            <a href="students-index.html" th:href="@{/students/index}">Students</a>
        </li>
        <li sec:authorize="hasRole('ADMIN')">
            <a href="add-student.html" th:href="@{/students/add-student}">Add Student</a>
        </li>
        <li sec:authorize="hasRole('ADMIN')">
            <a href="list-students.html" th:href="@{/students/delete-all}">Delete All</a>
        </li>
    </ul>
</main>
<footer th:replace="~{home/index::footer}">
    Some footer text
</footer>
</body>
</html>
