<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Student Details</title>
</head>
<body>
<header th:replace="~{home/index::header}">
    <h1>Some header text</h1>
</header>
<main class="container">
    <h2 class="mt-4 mb-3">Student Details</h2>
    <div class="card ms-4 student-card">
        <div th:object="${student}" class="card-body">
            <h3 class="card-title mb-4" th:text="|*{firstName} *{lastName}|">Student Name</h3>
            <p>
                <label class="output-label">First Name:</label>
                <span class="output" th:text="*{firstName}">Bart</span>
            </p>
            <p>
                <label class="output-label">Last Name:</label>
                <span class="output" th:text="*{lastName}">Simpson</span>
            </p>
            <p>
                <label class="output-label">Date of Birth:</label>
                <span class="output" th:text="*{#temporals.format(dateOfBirth, 'dd MMMM, yyyy')}">01 January, 2018</span>
            </p>
            <p>
                <label class="output-label">Age:</label>
                <span class="output" th:text="|*{age} years old|">18 years old</span>
            </p>
            <p>
                <label class="output-label">Program:</label>
                <span class="output" th:text="*{program.programName}">Computer Programmer</span>
            </p>
            <p>
                <label class="output-label">International:</label>
                <span class="output" th:text="*{international}?'yes':'no'">no</span>
            </p>
            <p>
                <label class="output-label">Year:</label>
                <span class="output" th:text="*{programYear}">1</span>
            </p>
            <p>
                <label class="output-label">Co-op:</label>
                <span class="output" th:text="*{programCoop}?'yes':'no'">yes</span>
            </p>
            <p>
                <label class="output-label">Created:</label>
                <span class="output" th:text="*{#temporals.format(createdAt, 'dd MMM yyyy HH:mm a')}">19 Aug 2026 21:38 p.m.</span>
            </p>
            <p>
                <label class="output-label">Updated:</label>
                <span class="output" th:text="*{#temporals.format(updatedAt, 'dd MMM yyyy HH:mm a')}">19 Aug 2026 21:38 p.m.</span>
            </p>
        </div>
    </div>
    <div class="mt-4 btn-group" sec:authorize="hasRole('DATA_ADMIN')">
        <a th:href="@{/students/edit-student(id=${student.id})}" class="btn btn-outline-success"><i class="bi bi-pen me-2"></i>Edit Student</a>
        <a th:href="@{/students/delete-student(id=${student.id})}" class="btn btn-outline-danger"><i class="bi bi-trash me-2"></i>Delete Student</a>
    </div>
    <ul class="mt-4 list-group list-group-horizontal">
        <li sec:authorize="hasRole('DATA_ADMIN')" class="list-group-item">
            <a th:href="@{/students/add-student}"><i class="bi bi-plus me-2"></i>Add Student</a>
        </li>
        <li class="list-group-item">
            <a th:href="@{/students/list-students}"><i class="bi bi-list me-2"></i>List Students</a>
        </li>
    </ul>
</main>
<footer th:replace="~{home/index::footer}">
    Some footer text
</footer>
</body>
</html>
