<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Index</title>
</head>
<body>
<header th:replace="~{home/index::header}">
    <h1>Some header text</h1>
</header>
<main class="container">
    <h2 class="mt-4 mb-3">Students Index</h2>
    <ul class="list-group ms-3" style="width: 12rem;">
        <li class="list-group-item" sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/students/add-student}"><i class="bi bi-plus me-2"></i>Add Student</a>
        </li>
        <li class="list-group-item">
            <a th:href="@{/students/list-students}"><i class="bi bi-list me-2"></i>List Students</a>
        </li>
    </ul>
</main>
<footer th:replace="~{home/index::footer}">
    Some footer text
</footer>
</body>
</html>
